@model Party.Models.GuestResponse

@{
    ViewData["Title"] = "RsvpForm";
}


    <h5 class="text-center m-2 p-2 " style="color: #d9471e !important;">RSVP</h5>
    <form asp-action="RSVP" method="post" class="m-2">
        <div asp-validation-summary="All"></div>

        <!-- Name input -->
        <div class="form-outline">
            <label asp-for="Name" class="form-label" for="name">Your name:</label>
            <input asp-for="Name" type="text" id="name" class="form-control" />
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label asp-for="Email" class="form-label" for="email">Your email:</label>
            <input asp-for="Email" type="email" id="email" class="form-control" />
        </div>

        <!-- Phone input -->
        <div class="form-outline mb-4">
            <label asp-for="Phone" class="form-label" for="number">Your Phone:</label>
            <input asp-for="Phone" type="number" id="number" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label>Will you attend?</label>
            <select asp-for="WillAttend" class="form-control">
                <option value="">Choose an option</option>
                <option value="true">Yes, I'll be there</option>
                <option value="false">No, I can't come</option>
            </select>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">
            Submit RSVP
        </button>
    </form>
