@model IEnumerable<Party.Models.GuestResponse>

@{
    ViewData["Title"] = "Yarışmacı Listesi";
}

<section>
    <div class="text-center p-2">
        <h2>Yarışmaya katılacakların listesi</h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr><th>Name</th><th>Email</th><th>Phone</th></tr>
            </thead>
            <tbody>
                @foreach (Party.Models.GuestResponse r in Model)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.Email</td>
                        <td>@r.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

