@model Party.Models.GuestResponse
@{
    ViewData["Title"] = "Thanks";
}

<section>
    <div>
        <h1>Teşekkürler, @Model.Name!</h1>
        @if (Model.WillAttend == true)
        {
            @:Katılıcağını görmek çok güzel. Katılmanı dört gözle bekliyoruz
        }
        else
        {
            @:Gelemeyeceğin için üzüldüm, fakat haber verdiğin için teşekkürler.
        }
    </div>
    Katılımcı listesini görmek için <a asp-controller="Guest" asp-action="List" style="color:#FF0000">tıklayınız.</a>
</section>

