<footer class="text-center text-white fixed-bottom" style="background-color: #343A40;">
    <div class="container p-4"></div>
    <div class="text-center p-3" style="background-color: #343A40;">
        &copy; 2021 - PartyInvites - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
