<nav class="navbar navbar-dark  navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="~/images/logo.png"
                 class="me-2"
                 height="20"
                 alt=""
                 loading="lazy" />
            <small>Hack Istanbul</small>
        </a>
    </div>
</nav>