
<div class="container" style="margin-top:50px;">
    <div class="row">

        <div class="col-md-2">
            <partial name="_Sidebar" />
        </div>
        <div class="col-md-10" style="font-size: 20px">
            <h3>Yarışma Hakkında</h3>
            <p style="text-align: justify">
                Türkiye dünya çapında olağanüstü bir yarışmaya ev sahipliği yapıyor.
                Teknofest etkinliğinin bir parçası olarak, Dijital Dönüşüm Ofisi Hack
                İstanbul 2021 Yarışmasını düzenliyor.
            </p>
            <p style="text-align: justify">
                Hackerların becerileri, dünyanın önde gelen uzmanlarının rehberliğinde
                hazırlanan gelişmiş gerçek yaşam siber saldırı senaryoları ile sınırlara
                itilecektir. Yarışmaya kayıt için son tarih 30 Haziran.
            </p>
            <p style="text-align: justify">
                Ön seçim aşamasında başarılı olan hackerlar, farklı zorluk ve karmaşıklık
                seviyelerine sahip zorlukları içeren jeopardy tarzı bir CTF olan 2.ön seçim
                mücadelesine hak kazanacaklar. 18 saatlik CTF mücadelesi sadece en iyi bilgisayar
                korsanlarını final turuna taşıyacak. CTF'Yİ başaran ilk 10 takım, 21-26 Eylül tarihlerinde
                İstanbul Atatürk Havalimanı'nda düzenlenecek olan büyük final etabı için İstanbul'a davet edilecek.
            </p>

            <p style="text-align: justify">
                Yarışma için uygun Katılımcı Eğitim seviyeleri
                <br />
                - Lise Öğrencileri<br />
                - Ön Lisans Öğrencileri, Lisans Öğrencileri, Yüksek Lisans Öğrencileri ve Doktora Öğrencileri <br />
                - Üniversite Mezunu
            </p>


            <a asp-controller="Guest" asp-action="Index" class="btn btn-dark btn-lg btn-block">Başvuru yapmak için Tıklayınız !</a>
        </div>

    </div>
</div>