<div
	class="nav flex-column nav-pills"
	role="tablist"
	aria-orientation="vertical"
>
	<a
		class="nav-link active"
		data-toggle="pill"
		href="/"
		role="tab"
		aria-controls="v-pills-hakkinda"
		aria-selected="true"
		>Yarışma Hakkında</a
	>
	<a
		class="nav-link"
		data-toggle="pill"
		href="/"
		role="tab"
		aria-controls="v-pills-sartname"
		aria-selected="false"
		>Yarışma Şartnamesi</a
	>
	<a
		class="nav-link"
		data-toggle="pill"
		href="/"
		role="tab"
		aria-controls="v-pills-takvim"
		aria-selected="false"
		>Yarışma Takvimi</a
	>
	<a
		class="nav-link"
		data-toggle="pill"
		href="/"
		role="tab"
		aria-controls="v-pills-video"
		aria-selected="false"
	>
		Yarışma Videoları</a
	>
	<a
		class="nav-link"
		data-toggle="pill"
		href="/"
		role="tab"
		aria-controls="v-pills-sorular"
		aria-selected="false"
		>Sık Sorulan Sorular</a
	>
	<a
		class="nav-link"
		data-toggle="pill"
		href="/"
		role="tab"
		aria-controls="v-pills-rapor"
		aria-selected="false"
		>Rapor Şablonları</a
	>

	<a
		class="nav-link"
		data-toggle="pill"
		href="/"
		role="tab"
		aria-controls="v-pills-finalist"
		aria-selected="false"
		>Finalist Takımlar</a
	>

	<a
		class="nav-link"
		data-toggle="pill"
		href="/"
		role="tab"
		aria-controls="v-pills-dereceler"
		aria-selected="false"
		>Dereceler</a
	>

	<a
		class="nav-link"
		href="/"
		role="tab"
		aria-controls="v-pills-oduller"
		aria-selected="false"
		>Ödüller</a
	>
	<a
		class="nav-link"
		data-toggle="pill"
		href="/"
		role="tab"
		aria-controls="v-pills-galeri"
		aria-selected="false"
		>Galeri</a
	>

	<a
		class="nav-link"
		data-toggle="pill"
		href="/"
		role="tab"
		aria-controls="v-pills-destekler"
		aria-selected="false"
		>Destekler</a
	>

	<a
		class="nav-link"
		data-toggle="pill"
		href="/"
		role="tab"
		aria-controls="v-pills-adres"
		aria-selected="false"
		>Yarışma Yeri Ve Tarihi</a
	>
</div>
