@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="container" style="margin-top:50px;">
        <div class="row">

            <div class="col-md-2"> bla b</div>
            <div class="col-md-10">
                <h3>Yarışma Hakkında</h3>
                <p style="text-align: justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at turpis vel
                    massa hendrerit hendrerit. Nullam cursus maximus purus, sed ultrices tortor
                    congue et. Quisque mattis mi at erat interdum, quis hendrerit felis ultricies.
                    Praesent ut facilisis purus. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Maecenas efficitur mi nec augue rhoncus porta. Vestibulum
                    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                    Sed tincidunt at nunc ullamcorper malesuada. Integer sed ligula mi. Vivamus
                    fringilla eget magna sit amet eleifend. Donec quis tortor efficitur, accumsan
                    diam ac, fringilla arcu.
                </p>
                <p style="text-align: justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at turpis vel
                    massa hendrerit hendrerit. Nullam cursus maximus purus, sed ultrices tortor
                    congue et. Quisque mattis mi at erat interdum, quis hendrerit felis ultricies.
                    Praesent ut facilisis purus. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Maecenas efficitur mi nec augue rhoncus porta. Vestibulum
                    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                    Sed tincidunt at nunc ullamcorper malesuada. Integer sed ligula mi. Vivamus
                    fringilla eget magna sit amet eleifend. Donec quis tortor efficitur, accumsan
                    diam ac, fringilla arcu.
                </p>
                <p style="text-align: justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at turpis vel
                    massa hendrerit hendrerit. Nullam cursus maximus purus, sed ultrices tortor
                    congue et. Quisque mattis mi at erat interdum, quis hendrerit felis ultricies.
                    Praesent ut facilisis purus. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Maecenas efficitur mi nec augue rhoncus porta. Vestibulum
                    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                    Sed tincidunt at nunc ullamcorper malesuada. Integer sed ligula mi. Vivamus
                    fringilla eget magna sit amet eleifend. Donec quis tortor efficitur, accumsan
                    diam ac, fringilla arcu.
                </p>

                <a asp-controller="Guest" asp-action="Index" class="btn btn-primary btn-lg btn-block">Apply</a>
            </div>

        </div>
    </div>
</section>